{% extends "base.html" %}

   
{% block content %}
<div class="jumbotron">
    <p class="lead">Resultados de la busqueda</p>
    
    <div class="container-films">
        {% for r in results %}
                <form action="{{ url_for('detallePelicula') }}" method='POST'>
                    <div class="poster-mini">
                        <img src="{{ r['Poster'] }}" alt="{{ r['Title'] }}" style="max-width:100%;">
                    </div>
                    <div class="titles">
                        <p class="font-weight-bold text-truncate">{{ r['Title'] }}</p>
                    </div>
                    <div class="titles">
                        <p class="text-align-start font-size-8">{{ r['Year'] }}</p>
                    </div>
                    <div class="button-details">
                        <input class="btn btn-secondary btn-sm" type="submit" value="Detalles">
                        <input class="form-control form-control-sm" type="hidden" name="imdbID" value="{{ r['imdbID'] }}">
                    </div>
                </form>
        {% else %}
            <p class="lead">No hay resultados</p>
        {% endfor %}
    </div>
</div>

{% endblock %}