{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    
    <div class="row py-3 px-lg-3 bg-light">
            <div class="row-md-4">
              <img src="{{ details['Poster'] }}" class="card-img">
            </div>
            <div class="col-md-8">
                <h2 class="title">{{ details['Title'] }}</h2>
                <p class="text">Año: {{ details['Year'] }}</p>
                <p class="text">Duración: {{ details['Runtime'] }}</p>
                <p class="text">Género: {{ details['Genre'] }}</p>
                <p class="text">Director: {{ details['Director'] }}</p>
                <p class="text">Guión: {{ details['Writer'] }}</p>
                <p class="text">Reparto: {{ details['Actors'] }}</p>
                <p class="text">Productora: {{ details['Production'] }}</p>
                <p class="text">Sinópsis: {{ details['Plot'] }}</p>
                <p class="text">Idioma: {{ details['Language'] }}</p>
                <p class="text">Pais: {{ details['Country'] }}</p>
            </div>
    </div>
    
    

</div>

{% endblock %}