{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Hola, mundo!</h1>
    <p class="lead">Buscador de peliculas en la API de IMDb.</p>
    <hr class="my-4">
    <p>Introduce la/s palabra/s clave del titulo que quieres consultar</p>
    <div class="row">
        <form action="{{ url_for('buscaPeliculas') }}">
            <div class="col-10">
                <input class="form-control" type="text" name="buscar" placeholder="Titulo...">
            </div>
            <div class="col">
                <input type="submit" value="Buscar" class="btn btn-primary btn-block">
            </div>
        </form>
    </div>
    
</div>

{% endblock %}